{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Solo web</title>
  </head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <body>

    {% include 'nav.html' %}
    <link rel="stylesheet" href="{% static 'css/event_detail.css' %}">

    <section class="py-5">
      <h2 class="border-bottom text-center">
        <!--질문 제목-->
        {{event.title}}
      </h2>
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="card">
            <div class="card-body">
              <div class="card-text text-center" style="white-space: pre-line">
                {{event.content}}
                <div class="d-flex justify-content-center">
                  <div id="map" style="width: 400px; height: 400px;"></div>
                  <div id="detail_map" class="map_name">{{event.location_tags}}</div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <div class="badge bg-secondary p-2">
                  <!--작성자-->
                  <div class="mb-2 text-start">{{event.user.email}}</div>
                  <!--이벤트 마감 날짜-->
                  {{event.deadline}}
                </div>
              </div>
              <!-- D-Day 계산 -->
              <div class="d-flex justify-content-start">
                {% if event.d_day_calculator < 0 %}
                  <div class="badge bg-danger p-2">
                    <div class="mb-2 text-start">모집마감</div>
                  {% else %}
                    <div class="badge bg-secondary p-2">
                      <div class="mb-2 text-start">D-{{event.d_day_calculator}}</div>
                    {% endif %}

                  </div>
                </div>
                <div class="justify-content-start d-flex">
                  {% if event.d_day_calculator >= 0 %}
                    <button type="button" class="btn btn-outline-success mb-4 mt-4">이벤트 참여하기</button>
                  {% endif %}
                  {% if user.id == event.user.id %}
                    <a href="">
                      <button type="button" class="btn  btn-outline-danger mb-4 mt-4 ml-2">이벤트 수정하기</button>
                    </a>
                  {% endif %}
                </div>

              </section>

              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
              <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a50d7f7e6ce625a29a84c501e918e47d&libraries=services"></script>
              <script>
                let map_name = document
                    .getElementById("detail_map")
                    .innerText

                  var mapContainer = document.getElementById("map"), // 지도를 표시할 div
                    mapOption = {
                      center: new kakao
                        .maps
                        .LatLng(33.450701, 126.570667), // 지도의 중심좌표
                      level: 5, // 지도의 확대 레벨
                    };

                  // 지도를 생성합니다
                  var map = new kakao
                    .maps
                    .Map(mapContainer, mapOption);

                  // 주소-좌표 변환 객체를 생성합니다
                  var geocoder = new kakao
                    .maps
                    .services
                    .Geocoder();

                  // 주소로 좌표를 검색합니다
                  geocoder.addressSearch(map_name, function (result, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === kakao.maps.services.Status.OK) {
                      var coords = new kakao
                        .maps
                        .LatLng(result[0].y, result[0].x);

                      var icon = new kakao
                        .maps
                        .MarkerImage("https://firebasestorage.googleapis.com/v0/b/alpaco-web-project.appspot.com/o/KakaoTalk_20230125_181444481.png?alt=media&token=1dac8188-f20d-4d88-9c29-adddcc1b12bf", new kakao.maps.Size(31, 35), {
                          offset: new kakao
                            .maps
                            .Point(16, 34),
                          alt: "만나는 장소",
                          coords: coords
                        });

                      // 결과값으로 받은 위치를 마커로 표시합니다
                      var marker = new kakao
                        .maps
                        .Marker({map: map, position: coords, image: icon});

                      // 인포윈도우로 장소에 대한 설명을 표시합니다
                      var infowindow = new kakao
                        .maps
                        .InfoWindow({content: '<div style="width:150px;text-align:center;padding:6px 0;">모임 장소</div>'});
                      infowindow.open(map, marker);

                      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                      map.setCenter(coords);
                    }
                  });
              </script>
            </body>

          </html>
