.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  height: 600px;
}

#contents {
  outline: 1px solid black;
  width: 1110px;
  height: 500px;
  resize: none;
  outline: 1px solid black;
  margin-bottom: 20px;
}
