{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>모여방</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + LeadMark main styles -->
    <link rel="stylesheet" href="{% static 'css/leadmark.css' %}">
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" style="width: 1520px;">

    {% include 'nav.html' %}
    {% include 'user/login.html' %}

    <!-- Page Header -->
    <header class="header">
      <div class="overlay">
        <h1 class="subtitle">complex meeting service</h1>
        <h1 class="title hometext-color">모여방</h1>
      </div>
      <div class="shape">
        <svg viewbox="0 0 1500 200">
          <path d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z"/>
        </svg>
      </div>
      <span class="loader"></span>
    </header>
    <!-- End Of Page Header -->
    {% if user.nickname != None %}
      <section id="service" class="section pt-0">
        <div class="container">
          <h6 class="section-title text-center hometext-color">채팅서비스 오픈!</h6>
          <h6 class="section-subtitle text-center mb-5 pb-3 hometext-color">키워드별로 새로운 솔럽들과 이야기나누세요</h6>

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <small class="text-primary font-weight-bold">01</small>
                  <h5 class="card-title mt-3">
                    자유채팅방
                    <h5>
                      <p class="mb-0">자유주제
                      </p><br>
                      <a href="#" class="btn btn-signature1 rounded active bot-sm">채팅방입장</a>

                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <small class="text-primary font-weight-bold">02</small>
                      <h5 class="card-title mt-3">오늘 번개할 사람!<h5>
                          <p class="mb-0">퇴근 후 치맥한잔 하실 분
                          </p><br>
                          <a href="#" class="btn btn-signature1 rounded active bot-sm">채팅방입장</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card mb-4 mb-md-0">
                        <div class="card-body">
                          <small class="text-primary font-weight-bold">03</small>
                          <h5 class="card-title mt-3">AI추천 주제로 대화<h5>
                              <p class="mb-0">Ai가 던지는 랜덤주제로 대화
                              </p><br>
                              <a href="#" class="btn btn-signature1 rounded active bot-sm">채팅방입장</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!-- End OF Service Section -->
                <!-- recommend Section -->
                <section id="recommend" class="section portfolio-section">
                  <div class="container">
                    <h6 class="section-title text-center hometext-color">추천모임</h6>
                    <h6 class="section-subtitle mb-5 text-center hometext-color">모여방 추천하는 모임</h6>
                    <!-- evnet 리스트 나오는 곳-->
                    <div class="container px-4 px-lg-5 mt-5">
                      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center events-list infinite-container">
                        {% for event in event_imgage %}
                          <div class="col mb-5 infinite-item">
                            <div class="card h-100">
                              {% if event.deadline_compare%}
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">모집중</div>
                              {% else %}
                                <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">마감</div>
                              {% endif %}

                              <!-- 모임 이미지 -->
                              {% if event.event_imgage %}
                                <img class="card-img-top" src="{{event.event_imgage.url}}" alt="..." style="height: 200px"/>
                              {% else %}
                                <img class="card-img-top" src="" alt="..."/>
                              {% endif %}
                              <!-- 모임 내용 디테일-->
                              <div class="card-body p-4">
                                <div class="text-center">
                                  <!-- 모임 제목 -->
                                  <h5 class="fw-bolder" style="display: inline-block; width: 180px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    {{event.title}}</h5><br>
                                  <!-- category-->
                                  {{event.category}}
                                </div>
                              </div>
                              <!-- Product actions-->
                              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                  <a class="btn btn-outline-dark mt-auto" href="{% url 'event_detail' pk=event.id %}">자세히 보기</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </section>
                <!-- End of portfolio section -->
                <!-- Blog Section -->
                <section class="section" id="ranking">
                  <div class="container">
                    <h6 class="section-title mb-0 text-center hometext-color">랭킹</h6>
                    <h6 class="section-subtitle mb-5 text-center hometext-color">이달의 럽솔</h6>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="card border-0 mb-4">
                          <img src="{% static 'imgs/blog-1.jpg' %}" alt="" class="card-img-top w-100">
                          <div class="card-body">
                            <h6 class="card-title">주제알고 그림</h6>
                            <p>방장이 주는 주제로 그림그리자!</p>
                            <a href="javascript:void(0)" class="small text-muted">Go To The Sol</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card border-0 mb-4">
                          <img src="{% static 'imgs/blog-2.jpg' %}" alt="" class="card-img-top w-100">
                          <div class="card-body">
                            <h6 class="card-title">
                              AI그림 나눔터</h5>
                            <p>ai로 만든 그림 나누자기야.</p>
                            <a href="javascript:void(0)" class="small text-muted">Go To The Sol</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card border-0 mb-4">
                          <img src="{% static 'imgs/blog-3.jpg' %}" alt="" class="card-img-top w-100">
                          <div class="card-body">
                            <h6 class="card-title">코딩비기너</h6>
                            <p>코딩초보자 다 모여! 코드뿌셔</p>
                            <a href="javascript:void(0)" class="small text-muted">Go To The Sol</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section id="event" class="section portfolio-section">
                  <div class="container">
                    <h6 class="section-title text-center hometext-color">럽솔이벤트</h6>
                    <h6 class="section-subtitle mb-5 text-center hometext-color">이벤트 참여</h6>
                    <div class="filters">
                      <a href="#" data-filter=".onestep" class="active">
                        기부하고 포인트 받자
                      </a>
                      <a href="#" data-filter=".twostep" class="active">
                        자랑하고 포인트 받자
                      </a>
                      <a href="#" data-filter=".threestep" class="active">
                        결혼하고 포인트 받자
                      </a>
                      <a href="#" data-filter=".lastdance" class="active">
                        추천하고 포인트 받자
                      </a>
                    </div>
                  </div>
                </section>
              {% else %}
                <!-- Service Section -->
                <section id="service" class="section pt-0">
                  <div class="container">
                    <h6 class="section-title text-center hometext-color">서비스 소개</h6>
                    <h6 class="section-subtitle text-center mb-5 pb-3 hometext-color">새로운 만남의 시작을 함께할게요</h6>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="card mb-4 mb-md-0">
                          <div class="card-body">
                            <small class="text-primary font-weight-bold">01</small>
                            <h5 class="card-title mt-3">
                              회원가입
                              <h5>
                                <p class="mb-0">구글계정와 카카오계정으로 편하게<br>
                                  가입하세요.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mb-4 mb-md-0">
                              <div class="card-body">
                                <small class="text-primary font-weight-bold">02</small>
                                <h5 class="card-title mt-3">키워드를 통한 자기소개<h5>
                                    <p class="mb-0">관심있는 키워드를 선택해<br>
                                      자신을 소개하세요.
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="card mb-4 mb-md-0">
                                  <div class="card-body">
                                    <small class="text-primary font-weight-bold">03</small>
                                    <h5 class="card-title mt-3">날짜선택으로 매칭시작!<h5>
                                        <p class="mb-0">키워드에 맞는 모임중<br>
                                          날짜 선택하여 모임매칭.
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </section>
                          <!-- End OF Service Section -->
                          <!-- About Section -->
                          <section class="section" id="about">
                            <div class="container">
                              <div class="row justify-content-between">
                                <div class="col-md-6 pr-md-5 mb-4 mb-md-0">
                                  <h6 class="section-title mb-0 hometext-color">모여방에 대해서</h6>
                                  <h6 class="section-subtitle mb-4 hometext-color">우리는 왜
                                    <모여방>을 만들었나?</h6>
                                    <p class="hometext-color">이제 코로나에서 벗어날 시간. 지난 몇년간 코로나로 각종 모임과 만남이 제한되었습니다. 하지만 이제 실내 의무 마스크 규제가 풀린 지금, 여행과 만남의 연결이 필요한 시간입니다. 알파코 2조는 그러한 시대를 반영하여 키워드 미팅 어플리케이션 웹을 개발하였습니다.</p>
                                    <img src="{% static 'imgs/about.jpg' %}" alt="" class="w-100 mt-3 shadow-sm">
                                  </div>
                                  <div class="col-md-6 pl-md-5">
                                    <div class="row">
                                      <div class="col-6">
                                        <img src="{% static 'imgs/about-1.jpg' %}" alt="" class="w-100 shadow-sm">
                                      </div>
                                      <div class="col-6">
                                        <img src="{% static 'imgs/about-2.jpg' %}" alt="" class="w-100 shadow-sm">
                                      </div>
                                      <div class="col-12 mt-4 hometext-color">
                                        <p>운동, 여행, 문화관람, 게임, 음악, 사교/인맥, 봉사, 자유주제등 업데이트마다 새로운 카테고리가 생성될 것입니다. 저희 알파코2조는 새로운 만남 문화를 주도하는 회사가 되도록 노력하겠습니다.</p>
                                        <p>
                                          <b class="hometext-color">
                                            문화와 공간, 만남을 주도하는 알파코2조 웹프로젝트입니다.</b><br>
                                        </p>
                                        <p class="hometext-color">
                                          커뮤니티 웹</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                            <!-- Blog Section -->
                            <section class="section" id="howuse">
                              <div class="container">
                                <h6 class="section-title mb-0 text-center hometext-color">이용방법</h6>
                                <h6 class="section-subtitle mb-5 text-center hometext-color">회원가입, 키워드설정, 모임참여</h6>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="card border-0 mb-4">
                                      <img src="{% static 'imgs/howuse-1.jpg' %}" alt="" class="card-img-top w-100">
                                      <div class="card-body">
                                        <h6 class="card-title">회원가입</h6>
                                        <p>구글 또는 카카오계정으로 편하게 가입</p>
                                        <a href="javascript:void(0)" class="small text-muted">Go To The 회원가입</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card border-0 mb-4">
                                      <img src="{% static 'imgs/howuse-2.jpg' %}" alt="" class="card-img-top w-100">
                                      <div class="card-body">
                                        <h6 class="card-title">
                                          키워드설정</h5>
                                        <p>자신의 관심분야 키워드를 선택하세요</p>
                                        <a href="javascript:void(0)" class="small text-muted">Go To The Keyword</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card border-0 mb-4">
                                      <img src="{% static 'imgs/howuse-3.jpg' %}" alt="" class="card-img-top w-100">
                                      <div class="card-body">
                                        <h6 class="card-title">모임참여</h6>
                                        <p>관심있는 모임을 만들거나 참여하세요</p>
                                        <a href="javascript:void(0)" class="small text-muted">Go To Meeting</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                            <section class="section" id="donation">
                              <div class="container">
                                <h6 class="section-title mb-0 text-center hometext-color">후원</h6>
                                <h6 class="section-subtitle mb-5 text-center hometext-color">3가지 후원방법을 소개합니다</h6>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="card border-0 mb-4">
                                      <img src="{% static 'imgs/blog-1.jpg' %}" alt="" class="card-img-top w-100">
                                      <div class="card-body">
                                        <h6 class="card-title">직접 투자</h6>
                                        <p>직접투자를 하실 수 있습니다</p>
                                        <a href="javascript:void(0)" class="small text-muted">Go To The Donation</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card border-0 mb-4">
                                      <img src="{% static 'imgs/blog-2.jpg' %}" alt="" class="card-img-top w-100">
                                      <div class="card-body">
                                        <h6 class="card-title">
                                          광고문의</h5>
                                        <p>저희 웹서비스에 광고를 올리세요.</p>
                                        <a href="javascript:void(0)" class="small text-muted">Go To The Donation</a>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="card border-0 mb-4">
                                      <img src="{% static 'imgs/blog-3.jpg' %}" alt="" class="card-img-top w-100">
                                      <div class="card-body">
                                        <h6 class="card-title">서비스 개발 지원</h6>
                                        <p>더 나은 서비스를 위해 노력합니다.</p>
                                        <a href="javascript:void(0)" class="small text-muted">Go To Donation</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                            <!-- End of Blog Section -->
                          {% endif %}
                          <!-- Contact Section -->
                          <section id="contact" class="section has-img-bg pb-0">
                            <div class="container">
                              <div class="row align-items-center">
                                <div class="col-md-5 my-3">
                                  <h6 class="mb-0">연락처</h6>
                                  <p class="mb-4">+ 123-456-7890</p>

                                  <h6 class="mb-0">주소</h6>
                                  <p class="mb-4">서울특별시 성동구 성수이로 113 7층</p>

                                  <h6 class="mb-0">이메일</h6>
                                  <p class="mb-0">alphaco2wh@website.com</p>
                                  <p></p>
                                </div>
                                <div class="col-md-7">
                                  <form>
                                    <h4 class="mb-4">개발자에게 메세지 전달</h4>
                                    <div class="form-row">
                                      <div class="form-group col-sm-4">
                                        <input type="text" class="form-control text-white rounded-0 bg-transparent" name="name" placeholder="Name">
                                      </div>
                                      <div class="form-group col-sm-4">
                                        <input type="email" class="form-control text-white rounded-0 bg-transparent" name="Email" placeholder="Email">
                                      </div>
                                      <div class="form-group col-sm-4">
                                        <input type="text" class="form-control text-white rounded-0 bg-transparent" name="subject" placeholder="Subject">
                                      </div>
                                      <div class="form-group col-12">
                                        <textarea name="message" id="" cols="30" rows="4" class="form-control text-white rounded-0 bg-transparent" placeholder="Message"></textarea>

                                      </div>
                                      <div class="form-group col-12 mb-0">
                                        <button type="submit" class="btn btn-signature3 rounded w-md mt-3">보내기</button>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <!-- Page Footer -->
                              <footer class="mt-5 py-4 border-top border-secondary">
                                <p class="mb-0 small">&copy;
                                  <script>
                                    document.write(new Date().getFullYear())
                                  </script>, homepage Created By
                                  <a href="https://www.alphaco2wh.com" target="_blank">alphaco2wh.</a>
                                  All rights reserved
                                </p>
                              </footer>
                              <!-- End of Page Footer -->
                            </div>
                          </section>

                          <!-- core -->
                          <script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
                          <script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>
                          <!-- bootstrap 3 affix -->
                          <script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

                          <!-- Isotope -->
                          <script src="{% static 'vendors/isotope/isotope.pkgd.js' %}"></script>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </body>

          </html>
