{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% include 'nav.html' %}
    <form method="post" class="col-lg-8 col-md-10 mx-auto" enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" name='title' id='title' class="form-control" value='{{form.title.value|default_if_none:' '}}'>
      </div>
      <div class="form-group mb-3">
        <label for="content" class="form-label">내용</label>
        <textarea rows="/" name='content' id='content' class="form-control"></textarea>
      </div>
      <div class="form-group mb-3">
        <label for="image" class="form-label">사진첨부</label>
        <input type="file" name='image' id='image' class="form-control" value=''>
      </div>
      <div class="form-group mb-3">
        <label for="tags" class="form-label">태그</label>
        <input type="text" name='tags' id='tags' class="form-control" placeholder="태그 입력">
      </div>
      <div class="form-group mb-3">
        <button type="submit" class="btn btn-success">글쓰기</button>
        <button type="submit" class="btn btn-primary">목록</button>
      </div>
    </form>
  </div>
</body>

</html>
