{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoveSolo</title>
    <link rel="stylesheet" href="{% static 'css/event_form.css' %}">
  </head>

  <body>
    {% include 'nav.html' %}
    <section class="py-5">
      <div class="container">
        <form action="">
          <div class="form-group mb-3">
            <label for="title" class="form-label mb-5">모임주최!!!!!</label>
            <input type="text" name="title" id="title" class="form-control mb-2" placeholder='제목'>
            <form>
              <select name="category_metting" class='badge badge-light'>
                <option value="none">=== 카테고리 선택 ===</option>
                <option value="drink">술</option>
                <option value="exercise">운동</option>
                <option value="tour">여행</option>
                <option value="bookClub">독서모임</option>
              </select>
            </form>
          </div>

          <div class="form-group mb-3">
            <label for="content">내용</label>
            <textarea name="content" id="contents" col="100" class="form-control"></textarea>
          </div>

          <div class="form-group mb-3">
            <label for="image" class="form-label">사진첨부</label>
            <input type="file" name='image' id='image' class='btn-outline-success' value=''>
          </div>

          <div class="form-group mb-3">
            <input type="text" id="sample5_address" class="form-control mb-2" placeholder="주소">
            <input type="button" onclick="sample5_execDaumPostcode()" class="btn-outline-success" value="주소 검색"><br>
            <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
          </div>

          <div class="form-group">
            <label for="tags" class="form-label">태그</label>
            <input type="text" name="tags" id="tags" class="form-control" placeholder="태그 입력">
          </div>

          <button type="submit" class="btn btn-primary">질문등록</button>
          <button type="button" class="btn btn-secondary">질문목록</button>

        </form>
      </div>
    </section>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a50d7f7e6ce625a29a84c501e918e47d&libraries=services"></script>
    <script src="{% static 'js/event_form.js' %}"></script>
  </body>

</html>
