{% load static %}
{% load post_filter %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Love Solo Web</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" style="width: 1520px">
    <!-- Navigation-->
    {% include 'post/nav.html' %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/event_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
    <!-- Header-->
    <!-- Section-->
    <!-- Example single danger button -->
    <div id="btns" class="met_category mt-5 category" style="display: inline-block; margin-left: 25rem;">
      <select id="address" class="btn dropdown-toggle mr-2 top_menu" name="address" aria-expanded="false">
        <option class="dropdown-item">지역</option>
        <option class="dropdown-item address1" value="전체" {% if "전체" in address %} selected="selected" {% endif %}>전체</option>
        <option class="dropdown-item address1" value="서울" {% if "서울" in address %} selected="selected" {% endif %}>서울</option>
        <option class="dropdown-item address1" value="경기" {% if "경기" in address %} selected="selected" {% endif %}>경기</option>
        <option class="dropdown-item address1" value="인천" {% if "인천" in address %} selected="selected" {% endif %}>인천</option>
        <option class="dropdown-item address1" value="강원" {% if "강원" in address %} selected="selected" {% endif %}>강원</option>
        <option class="dropdown-item address1" value="충북" {% if "충북" in address %} selected="selected" {% endif %}>충북</option>
        <option class="dropdown-item address1" value="충남" {% if "충남" in address %} selected="selected" {% endif %}>충남</option>
        <option class="dropdown-item address1" value="대전" {% if "대전" in address %} selected="selected" {% endif %}>대전</option>
        <option class="dropdown-item address1" value="세종" {% if "세종" in address %} selected="selected" {% endif %}>세종</option>
        <option class="dropdown-item address1" value="전북" {% if "전북" in address %} selected="selected" {% endif %}>전북</option>
        <option class="dropdown-item address1" value="전남" {% if "전남" in address %} selected="selected" {% endif %}>전남</option>
        <option class="dropdown-item address1" value="광주" {% if "광주" in address %} selected="selected" {% endif %}>광주</option>
        <option class="dropdown-item address1" value="경북" {% if "경북" in address %} selected="selected" {% endif %}>경북</option>
        <option class="dropdown-item address1" value="대구" {% if "대구" in address %} selected="selected" {% endif %}>대구</option>
        <option class="dropdown-item address1" value="울산" {% if "울산" in address %} selected="selected" {% endif %}>울산</option>
        <option class="dropdown-item address1" value="경남" {% if "경남" in address %} selected="selected" {% endif %}>경남</option>
        <option class="dropdown-item address1" value="부산" {% if "부산" in address %} selected="selected" {% endif %}>부산</option>
        <option class="dropdown-item address1" value="제주" {% if "제주" in address %} selected="selected" {% endif %}>제주</option>
      </select>
      <select id="address_detail" class="btn dropdown-toggle mr-2 top_menu" name="address_detail">
        <option class="dropdown-item address2">세부지역</option>
        <option class="dropdown-item address2">전체</option>
      </select>
      <select id="gathering" class="btn dropdown-toggle mr-2 top_menu" name="gathering">
        <option class="dropdown-item category">어떤모임</option>
        <option class="dropdown-item category" value="">전체</option>
        <option class="dropdown-item category" value="운동">운동</option>
        <option class="dropdown-item category" value="여행">여행</option>
        <option class="dropdown-item category" value="문화관람">문화관람</option>
        <option class="dropdown-item category" value="게임">게임</option>
        <option class="dropdown-item category" value="음악">음악</option>
        <option class="dropdown-item category" value="사교/인맥">사교/인맥</option>
        <option class="dropdown-item category" value="봉사">봉사</option>
        <option class="dropdown-item category" value="자유주제">자유주제</option>
      </select>
      <select id="so" class="btn dropdown-toggle mr-2 top_menu" name="so">
        <option class="dropdown-item" value="">정렬</option>
        <option class="dropdown-item" value="latest">최신순</option>
        <option class="dropdown-item" value="inquiry">조회순</option>
      </select>
      <a href="" class="btn mr-2 top_menu">모임 자랑하기</a>
      <div class="met_category input-group col-3 entsearchForm" style="float: right">
        <input type="text" name="keyword" id="keyword" class="form-control" value="{{keyword|default_if_none:''}}"/>
        <div class="input-group-append" style="float: right">
          <button type="button" class="btn btn-outline-secondary search">
            찾기
          </button>
        </div>
      </div>
    </div>
    <!-- 게시물 시작 -->
    <section>
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          {% for post in all_posts %}
            <div class="col mb-5">
              <div class="card h-100">
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{post.location_tags}}</div>
                <!-- 게시물 이미지 -->
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                <!-- 게시물 내용 디테일-->
                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- 게시물 제목 -->
                    <h5 class="fw-bolder">{{post.title}}</h5>
                    <!-- Product price-->
                    {{post.category}}
                  </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" href="#">자세히 보기</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <form action="{% url 'post_main' %}" id="searchForm">
      <input type="hidden" name="address" id="addressForm" value="{{address|default_if_none:''}}">
      <input type="hidden" name="gathering" id="gatheringForm" value="{{gathering|default_if_none:''}}">
      <input type="hidden" name="keyword" id="keywordForm" value="{{keyword|default_if_none:''}}">
      <input type="hidden" name="so" id="sortForm" value="{{so|default_if_none:''}}">
    </form>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          SoonYang.co &copy; LoveSolo 2023
        </p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--icon css-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="nomodule" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Core theme JS-->

    <script src="{% static 'js/post_main.js' %}"></script>
  </body>

</html>
