{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Love Solo Web</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->

  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" style="width:1520px">
    <!-- Navigation-->
    {% include 'nav.html' %}
    <!-- Header-->
    <!-- Section-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/event_list.css' %}">
    <!-- Example single danger button -->
    <div class="met_category mt-5 category" style="display: inline-block; margin-left: 30rem;">
      <button type="button" class="btn btn-danger dropdown-toggle mr-3 " data-bs-toggle="dropdown" aria-expanded="false">
        지역
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item seoul" href="#">서울</a>
        </li>
        <li>
          <a class="dropdown-item gyunggi" href="#">경기</a>
        </li>
        <li>
          <a class="dropdown-item incheon" href="#">인천</a>
        </li>
        <li>
          <a class="dropdown-item gangwon" href="#">강원</a>
        </li>
        <li>
          <a class="dropdown-item chungbuk" href="#">충북</a>
        </li>
        <li>
          <a class="dropdown-item chungnam" href="#">충남</a>
        </li>
        <li>
          <a class="dropdown-item daejeon" href="#">대전</a>
        </li>
        <li>
          <a class="dropdown-item seajong" href="#">세종특별자치시</a>
        </li>
        <li>
          <a class="dropdown-item jeonbuk" href="#">전북</a>
        </li>
        <li>
          <a class="dropdown-item jeonnam" href="#">전남</a>
        </li>
        <li>
          <a class="dropdown-item gwangju" href="#">광주</a>
        </li>
        <li>
          <a class="dropdown-item gyeongbuk" href="#">경북</a>
        </li>
        <li>
          <a class="dropdown-item daegu" href="#">대구</a>
        </li>
        <li>
          <a class="dropdown-item ulsan" href="#">울산</a>
        </li>
        <li>
          <a class="dropdown-item gyeongnam" href="#">경남</a>
        </li>
        <li>
          <a class="dropdown-item busan" href="#">부산</a>
        </li>
        <li>
          <a class="dropdown-item jeaju" href="#">제주</a>
        </li>
      </ul>
      <button type="button" class="btn btn-danger dropdown-toggle mr-3" data-bs-toggle="dropdown" aria-expanded="false">
        세부지역
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item address_detail" href="#">세부지역</a>
        </li>
      </ul>
      <button type="button" class="btn btn-danger dropdown-toggle mr-3" data-bs-toggle="dropdown" aria-expanded="false">
        어떤모임
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item all" href="#">전체</a>
        </li>
        <li>
          <a class="dropdown-item exercise" href="#">운동</a>
        </li>
        <li>
          <a class="dropdown-item tour" href="#">여행</a>
        </li>
        <li>
          <a class="dropdown-item cultural_viewing" href="#">문화관람</a>
        </li>
        <li>
          <a class="dropdown-item game" href="#">게임</a>
        </li>
        <li>
          <a class="dropdown-item music" href="#">음악</a>
        </li>
        <li>
          <a class="dropdown-item relationship" href="#">사교/인맥</a>
        </li>
        <li>
          <a class="dropdown-item volunteer" href="#">봉사</a>
        </li>
        <li>
          <a class="dropdown-item free_subject" href="#">자유주제</a>
        </li>
      </ul>
      <button type="button" class="btn btn-danger dropdown-toggle mr-3" data-bs-toggle="dropdown" aria-expanded="false">
        정렬
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">전체</a>
        </li>
        <li>
          <a class="dropdown-item latest" href="#">최신순</a>
        </li>
        <li>
          <a class="dropdown-item inquiry" href="#">조회순</a>
        </li>
      </ul>
      <div class="met_category input-group col-4 entsearchForm" style="float: right;">
        <input type="text" name="keyword" id="keyword" class="form-control" value="{{keyword|default_if_none:''}}">
        <div class="input-group-append" style="float:right;">
          <button type="button" class="btn btn-outline-secondary">찾기</button>
        </div>
      </div>
    </div>
    <section>
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5">
            <div class="card h-100">
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">모집중</div>
              <!-- 모임 이미지 -->
              <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
              <!-- 모임 내용 디테일-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- 모임 제목 -->
                  <h5 class="fw-bolder">모임 제목</h5>
                  <!-- Product price-->
                  카테고리
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#">자세히 보기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">SoonYang.co &copy; LoveSolo 2023</p>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--icon css-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="nomodule" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts.js' %}"></script>

  </body>

</html>
