{% extends 'post/base.html' %}
{% load static %}
{% load rest_framework %}
{% block style %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock style %}
{% block navbar %}
  {% include 'event/nav.html' %}
{% endblock navbar %}
{% block contents %}
  <div class="container my-3">
    <h2 class="border-bottom py-2">
      <!-- 제목 -->
      {{posts.title}}
    </h2>
    <div class="row my-3">
      <div class="col-1">
        <div class="bg-light text-center p-3 border font-weight-bolder mb-1">
          <!-- 조회 수 -->
          {{posts.view_cnt}}
        </div>
      </div>
      <div class="col-11">
        <div class="card">
          <div class="card-body">
            <div class="card-text" style="white:pre-line;">
              <!-- 내용 -->
              {{posts.content}}
            </div>
            <div class="card-text text-center" style="white-space: pre-line">
              <div class="d-flex justify-content-center">
                <div id="map" style="width: 400px; height: 400px;"></div>
                <div id="detail_map" class="map_name">{{post.location_tags}}</div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="badge bg-secondary p-2">
                <!--글쓴이-->
                {{posts.user.nickname}}
                <div class="mb-2 text-start"></div>
                <!-- 질문 작성 날짜 -->
                {{posts.created_at}}
              </div>
            </div>
            {% if posts.modified_at %}
              <div class="d-flex justify-content-end pt-2">
                <div class="badge bg-secondary p-2">
                  <!--수정-->
                  <div class="mb-2 text-start">modified at</div>
                  <!-- 수정 날짜 -->
                  {{posts.modified_at}}
                </div>
              </div>
            {% endif %}
            <!-- 로그인 사용자와 글쓴이가 같다면 -->
            {% if posts.user == request.user %}
              <div class="my-3">
                <a href="#" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="#" class="btn btn-sm btn-outline-danger" data-url="#">삭제</a>
              </div>
            {% endif %}
          </div>
          <!--질문 card body 종료-->
        </div>
      </div>
    </div>

    <!-- 댓글 영역 시작 -->
    <h5 class="border-bottom my-3 py-2">
      <!-- 댓글 갯수 -->
      개의 답변이 있습니다.
    </h5>
    <!-- {% for answer in answers %} -->
    <div class="row my-3">
      <div class="col-11">
        <div class="card">
          <div class="card-body">
            <div class="card-text" style="white:pre-line;">
              <!-- 냇글 내용 -->
              댓글 내용
            </div>
            <div class="d-flex justify-content-end">
              <div class="badge bg-secondary p-2">
                <!--글쓴이-->
                <div class="mb-2 text-start">댓글 글쓴이</div>
                <!-- 댓글 작성 날짜 -->
                댓글 작성 날짜
              </div>
            </div>
            <!-- {% if answer.modified_dttm %} -->
            <div class="d-flex justify-content-end pt-2">
              <div class="badge bg-secondary p-2">
                <!--수정-->
                <div class="mb-2 text-start">modified at</div>
                <!-- 댓글 수정 날짜 -->
                댓글 수정 날짜
              </div>
            </div>
            <!-- {% endif %} -->
            <!-- {% if answer.author == request.user %} -->
            <div class="my-3">
              <a href="#" class="btn btn-sm btn-outline-secondary">수정</a>
              <a href="#" class="btn btn-sm btn-outline-danger" data-url="#">삭제</a>
            </div>
            <!-- {% endif %} -->
          </div>
        </div>
      </div>
      <!-- {% endfor %} -->
      <!--댓글 작성 form-->
      <form action="#" method="post">
        {% csrf_token %}
        <div class="form-group mb-3">
          <textarea name="content" id="content" rows="10" class="form-control"></textarea>
        </div>
        <button type=" submit" class="btn btn-primary">댓글 등록</button>
      </form>
      <!--댓글 내용 종료-->
    </div>

  </div>
{% endblock contents %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a50d7f7e6ce625a29a84c501e918e47d&libraries=services"></script>
  <script>
    let map_name = document
        .getElementById("detail_map")
        .innerText

      var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
          center: new kakao
            .maps
            .LatLng(33.450701, 126.570667), // 지도의 중심좌표
          level: 5, // 지도의 확대 레벨
        };

      // 지도를 생성합니다
      var map = new kakao
        .maps
        .Map(mapContainer, mapOption);

      // 주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao
        .maps
        .services
        .Geocoder();

      // 주소로 좌표를 검색합니다
      geocoder.addressSearch(map_name, function (result, status) {
        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {
          var coords = new kakao
            .maps
            .LatLng(result[0].y, result[0].x);

          var icon = new kakao
            .maps
            .MarkerImage("https://firebasestorage.googleapis.com/v0/b/alpaco-web-project.appspot.com/o/KakaoTalk_20230125_181444481.png?alt=media&token=1dac8188-f20d-4d88-9c29-adddcc1b12bf", new kakao.maps.Size(31, 35), {
              offset: new kakao
                .maps
                .Point(16, 34),
              alt: "만나는 장소",
              coords: coords
            });

          // 결과값으로 받은 위치를 마커로 표시합니다
          var marker = new kakao
            .maps
            .Marker({map: map, position: coords, image: icon});

          // 인포윈도우로 장소에 대한 설명을 표시합니다
          var infowindow = new kakao
            .maps
            .InfoWindow({content: '<div style="width:150px;text-align:center;padding:6px 0;">모임 장소</div>'});
          infowindow.open(map, marker);

          // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
          map.setCenter(coords);
        }
      });
  </script>
  <script>
    // 질문 or 답변 삭제 버튼 클릭 시 confirm(정말로 삭제하시겠습니까?)
    /*
                              let elements = document.querySelectorAll('.btn-outline-danger')
                              elements.forEach((ele, idx) => {
                                .addEventListener("click", (e) => {
                                //confirm() : 확인을 클릭하면 data-url값 가져오기 location.href -> data-url 대입
                                  if (confirm('정말로 삭제하시겠습니까?')) {
                                    location.href = e.target.dataset.url;
                                    };
                                  })
                                })
                              */

    // 목록으로 클릭 시 listForm submit 시키기
    /*
                      document
                        .querySelector(".back_to_list")
                        .addEventListener("click", (e) => {
                          e.preventDefault();
                          document
                            .querySelector("#listForm")
                            .submit();
                        })
                      */

    $(function () {
      $('.btn-outline-danger, .delete').on("click", function (e) {
        if (confirm('정말로 삭제하시겠습니까?')) {
          location.href = $(this).data('url');
        }
      });

      // 목록으로 클릭 시 listForm submit 시키기
      $(".back_to_list").on("click", (e) => {
        e.preventDefault();
        $("#listForm").submit();
      })
    })
  </script>
{% endblock script %}
