{% extends 'base.html' %}
{% block contents %}
  <div class="container mx-auto px-5 pt-5">
    <div class="row">
      <div class="col-4">
        <h4 class="mb-1 text-sm-start">비밀번호 초기화</h4>
      </div>
    </div>
    <div class="row mt-2">
      <p class="small">
        비밀번호을 잊으셨나요? 이메일 주소를 입력하시면 새로운 비밀번호를 설정하는 절차를 담아 이메일로 보내드리겠습니다.
      </p>
    </div>
    <hr class="mt-1"/>
    {% if messages %}
      <div class="alert alert-danger">
        {% for msg in messages %}
          <span>{{msg.message}}</span>
        {% endfor %}
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group mb-3">
        <label for="email">이메일</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="aaa@bbb.com">
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">비밀번호 초기화</button>
      </div>
    </form>
  </div>
{% endblock contents %}
